body {background-color: rgb(107, 107, 230);}
h1 ,p ,h4 {color: white;}
h2 {color: green; font-size: 35px;}
h{color: white; font-size: 25px;}
a{color: red;}

img {margin-left: 500px;}
h1 {margin-left: 520px;}
p {margin-left: 450px;}
.footer {background-color: #11244d; text-align: center;}